/* Regular */
@font-face {
    font-family: 'Roboto-Regular.ttf';
    src: url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Light */
@font-face {
    font-family: 'Roboto Light';
    src: url('Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Thin */
@font-face {
    font-family: 'Roboto Thin';
    src: url('Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}