{% extends "recommendation/base.html" %}
{% load static from staticfiles %}

{% block top %}
<title>Chatroom for {{ event.title }}</title>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="{% static "bootstrap/css/eventChat.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<body class="background-image" background="{% static "images/skyline.png" %}">
</body>
<div class="chat-window">
<div id="chat-body-right" class="panel panel-default">
    <div class="chat-heading">
        <h2 align=center>Chatroom for {{ event.title }}</h2>
    </div>
    <div id="msg-list-div" class="panel-body">
        <ul id="msg-list" class="list-group">
            {% for obj in chat %}
            {% if obj.user == request.user %}
            <li class="text-right list-group-item">{{ obj.message }}</li>
            {% else %}
            <li class="text-left list-group-item">
                <b>{{ obj.user.username }}: </b>{{ obj.message }}
            </li>
            {% endif %}
            {% empty %}
            <li class="text-right list-group-item">No messages yet!</li>
            {% endfor %}
            <script>
var chatlist = document.getElementById('msg-list-div');
chatlist.scrollTop = chatlist.scrollHeight;
            </script>
        </ul>
    </div>
</div>

<form id="chat-form" method="post" action="/post/">
    <div id="chat-bottom" class="input-group">
        <input type="text" id="chat-msg" name="chat-msg" class="form-control" autocomplete="off" />
        <input type="hidden" id="chat-event" name="chat-event" value="{{ event.title }}" />
        <span class="input-group-btn">
            <input class="btn btn-default" id="send" type="submit" value="Send"/>
        </span>
    </div>
</form>
</div>

<div class="event-info">
    <div id="title-contain">
        <header id="event-name">Event Information</header>
    </div>
    <div id="background-contain">
        <ul id="event-info-list" type="none">
            <li class="event-content" id="event-title"><b>Event name: </b><p align="right";>{{ event.title }}</p></li>
            <li class="event-content" id="event-descrip"><b>Description: </b>{{ event.description }}</li>
            <li class="event-content" id="event-date"><b>Date: </b><p align="right";>{{ event.date }}</p></li>
            <li class="event-content" id="event-start"><b>Start time: </b><p align="right";>{{ event.startTime }}</p></li>
            <li class="event-content" id="event-dur"><b>Duration: </b><p align="right";>{{ event.duration_in_minutes }} minutes</p></li>
            <li class="event-content" id="event-price"><b>Approximate price: </b><p align="right";>{{ event.approximatePrice }}</p></li>
            <li class="event-content" id="event-type"><b>Event type: </b><p align="right";>{{ event.get_event_type_display }}</p></li>
            <li class="event-content" id="event-email"><b>Email: </b><p align="right";>{{ event.email }}</p></li>
            <script>
                var chatlist = document.getElementById('background-contain');
                chatlist.scrollTop = chatlist.scrollHeight;
            </script>
        </ul>
    </div>
</div>

{% endblock %}

{% block bottom %}
<script src="{% static 'chat.js' %}"></script>
{% endblock %}

