{% extends "recommendation/base.html" %}
{% load static from staticfiles %}

{% block top %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div id="chat-body" class="panel panel-default" style="margin-top:120px;">
    <h2 align=center> Sorry, we can't find a chat room for the event requested. </h2>
</div>
{% endblock %}
