{% extends "recommendation/base.html" %}
{% load static from staticfiles %}

{% block top %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="{% static "bootstrap/css/chat_home.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<body class="background-image" background="{% static "images/skyline.png" %}">
</body>
<div id="chat-body" class="panel panel-default">
    <div class="chat-heading"><h2 align=center><b>ATXLive Chatroom</b></h2></div>
    <div id="msg-list-div" class="panel-body">
        <ul id="msg-list" class="list-group">
            {% for obj in chat %}
            {% if obj.user == request.user %}
            <li class="text-right list-group-item">{{ obj.message }}</li>
            {% else %}
            <li class="text-left list-group-item">
                <b>{{ obj.user.username }}: </b>{{ obj.message }}
            </li>
            {% endif %}
            {% empty %}
            <li class="text-right list-group-item">No messages yet!</li>
            {% endfor %}
            <script>
var chatlist = document.getElementById('msg-list-div');
chatlist.scrollTop = chatlist.scrollHeight;
            </script>
        </ul>
    </div>
</div>


<form id="chat-form" method="post" action="/post/">
    <div id="chat-bottom" class="input-group">
        <input type="text" id="chat-msg" name="chat-msg" class="form-control" autocomplete="off" />
        <input type="hidden" id="chat-event" name="chat-event" value="" />
        <span class="input-group-btn">
            <input class="btn btn-default" id="send" type="submit" value="Send"/>
        </span>
    </div>
</form>
<div id="event-title" style="visibility: hidden"></div>

{% endblock %}

{% block bottom %}
<script src="{% static 'chat.js' %}"></script>
{% endblock %}

