  @import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
  @import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: #eee;
}

/* ABOUT
-----------------------*/

  .jumbotron{
    padding-top: 110px;
    /*background-color: #e0e0e0;*/
    background: #e0e0e0 url("../../images/map.png") center;
    background-size: cover;
  }

  .jumbotron p{
    text-shadow: 0 0 15px #FFFFFF, 0 0 5px #FFFFFF;
  }

.about-header{
  font-size: 10px;
}

/* Bio
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider-top{
  margin: 20px 0;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: bold;
  line-height: 10px;
  letter-spacing: -1px;
}

.col-md-7{
  width: 80%;
  text-align: right;
}

  .featurette-heading {
    font-size: 30px;
  }


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 20px;
  }

  .row-featurette{
    margin: auto;
    width: 80%;
    padding: 10px;
  }


}
