body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: #eee;
}

.footer {
  display: block;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
    @import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;

}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 0;
  background-color: #000;
}
.navbar-wrapper .navbar .container {
  width: auto;
  padding-left: 5px;
  padding-right: 35px;
  padding-top: 0;
  font-family : "Roboto Light";
  font-weight: normal;
  font-size: 25px;
  color: #FFFFFF;
}

#username {
  font-size: 25px;
  padding-top: 22px;
  padding-bottom: 0px;
  display: block;
}

#logout{
  padding-top: 6px;
  right: 0px;
  display: block;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}
