

.background-image{
  background-size: 100% auto;
}

#chat-body{
  width: 70%;
  margin: auto;
  background-color: rgba(213, 213, 213, 0.5);
  border-radius:7px;
  margin-top:9%;
}

.chat-heading{
  font-family: "Roboto-Regular.ttf";
  text-shadow: 0 0 3px grey;
  border-radius: 7px;
  color: #555555;
}

#msg-list-div{
  height:62vh;
  border:1px solid #ccc;
  overflow:auto;
}

.text-right {
  background-color: #2F8DFF;
  border-color: white;
  border-radius: 5px;
  width: 55%;
  margin-left: auto;
  margin-top: 6px;
  color: white;
  box-shadow: 2px 2px grey;
}

.text-left {
  width: 55%;
  margin-right: auto;
  background-color: #2BB2E8;
  border-color: white;
  border-radius: 5px;
  margin-top: 6px;
  color:white;
  box-shadow: 2px 2px grey;
}



#chat-form{
  padding-top: 15px;
  margin:auto;
  width: 70%;

}

#chat-msg{
  background-color: rgba(246, 246, 246, 0.95);
}

.input-group-btn{
  background-color: rgba(246, 246, 246, .90);
  border-radius: 0px;
}
