.background-image{
  background-size: 100% auto;
}

.chat-window{
  margin-left: 51%;
  width: 37%;
  margin-top:10%;
  position: absolute;
}

#chat-body-right{
  background-color: rgba(213, 213, 213, 0.5);
  border-radius:7px;
}

.chat-heading{
  font-family: "Roboto-Regular.ttf";
  text-shadow: 0 0 3px grey;
  border-radius: 7px;
  color: black;
}

#msg-list-div{
  height:60vh;
  border:1px solid #ccc;
  overflow:auto;

}

.text-right {
  background-color: #2F8DFF;
  border-color: white;
  border-radius: 5px;
  width: 55%;
  margin-left: auto;
  margin-top: 6px;
  color: white;
  box-shadow: 2px 2px grey;
}

.text-left {
  width: 55%;
  margin-right: auto;
  background-color: #2BB2E8;
  border-color: white;
  border-radius: 5px;
  margin-top: 6px;
  color:white;
  box-shadow: 2px 2px grey;
}



#chat-form{
  padding-top: 15px;
  margin:auto;

}

#chat-msg{
  background-color: rgba(246, 246, 246, 0.95);
}

.input-group-btn{
  background-color: rgba(246, 246, 246, .90);
  border-radius: 0px;
}

.event-info{
  position:absolute;
  margin-left: 11%;
  width: 37%;
  margin-top:10%;
  background-color: rgba(213, 213, 213, 0.5);
  height: 76vh;
  border-radius:7px;
  text-shadow: 0 0 5px white;
  overflow:auto;
}

#event-name{
  font-family: "Roboto-Regular.ttf";
  text-shadow: 0 0 3px grey;
  font-size: 32px;
  color: black;
  text-align: center;
  padding-top: 14px;
}

#event-info-list{
  font-family: "Roboto-Regular.ttf";
  font-size: 18px;
  padding-top: 15px;
  color: black;
  height:70vh;
  text-align:left;
  padding-right: 15px;

}

#event-descrip{
  padding-bottom: 35px;
}

p {
  right: 7%;
  transform: translate(0, -100%);
}

#title-contain{
}

#background-contain{
}
