.carousel-caption {
  text-shadow: 0 0 5px #000;
  top: 100px;
  z-index: 10;
}

.container1 {
  font-size: 17pt;
  position: relative;
  padding-right: 15%;
  padding-left: 15%;
}

.action-box {
  text-align: center;
  border: 2px solid #dd8107;
  position: absolute;
  padding: 10px;
  right: 15%;
  top: 0;
  background-color: #0f0f0f;
  color: #FFFFFF;
}

.buttonwrapper{
  color: #000000;
}
