body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form {
  margin: 0;
  margin-top: 80px;
  padding: 10px;
  border: 0px solid #7d7d7d;
  width: auto;
  padding-bottom: 37px;
  z-index: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

.fieldwrapper {
  width: 1000px;
  border: 0px solid #73AD21;
  padding: 20px;
  align-items: center;
}

.fieldwrapper p{
  font-family: "Roboto-Regular.ttf";
  text-shadow: 0px 0px 7px #FFFFFF;
  color: #000000;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.buttonwrapper{
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #000000;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.background-image {
  background-size : 100% auto
}
