{%  extends "recommendation/base.html" %}
{% load static from staticfiles %}
{% block top %}<link href="{% static "bootstrap/css/about.css" %}" rel="stylesheet">
<title>About</title>
{% endblock %}
{%  block content %}
    <body>
<!-- ABOUT -->
   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 style="font-size: 40px;">About ATX Live</h1>
        <p>ATX Live is the largest community of Austinites who are seeking adventures and looking to make memories.  Concerts, events, football games, video game tournaments, and more are all here!
         Connect with other people who share your hobbies and passions.  Looking for something new?  Explore the thousands of events happening right now across Austin.
        <br><br> Hosting an event and looking for attendees?  Post your event to reach the thousands of ATX Live users who want something to do!
        <br><br> Take advantage of our machine-learning guided, state-of-the-art recommendation engine to get events that are curtailed to your specific tastes.  All you have to do is create an ATX Live account.
        <br><br> Come join your fellow Austinites in our Chatroom, where you can discuss your passions with others.</p>
      </div>
    </div>

<!-- START THE FEATURETTES -->
    <header>
        <h1 align="center">Meet the BoyzInDaHood</h1>
    </header>
      <hr class="featurette-divider-top">

      <div class="row-featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">James Zhang <span class="text-muted"> "JayZ"</span></h2>
          <p class="lead">JayZ was born and raised from the terrible slums of Plano, TX.  Through sheer willpower and dedication, he escaped the cycle of poverty his upper-middle class Asian family
          imposed on him, and became one of the best Ping Pong players in the country.  JayZ is now so wealthy, he drives a used 2005 Toyota Camry LE.  Rags to Riches.</p>
        </div>
        <div class="col-md-2">
          <img class="img-circle" src="{% static "images/sorry/5.png" %}" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row-featurette">
        <div style="padding-left: 60px;" class="col-md-10 col-md-push-1">
          <h2 class="featurette-heading">Kristian Wang <span class="text-muted">"Big Wang"</span></h2>
          <p class="lead">Big Wang never knew what freedom felt like until he was eight years old.  Born in the brutal dictatorship of Norway, he escaped by sneaking onto a America-bound
          Navy destroyer.  Thirteen years later, Big Wang loves the United States, and believes the NSA to be the pinnacle of national security. U-S-A!</p>
        </div>
        <div class="col-md-1 col-md-pull-10">
          <img class="img-circle" src="{% static "images/sorry/2.png" %}" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row-featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Joey Andrew Thometz <span class="text-muted">"DMT"</span></h2>
          <p class="lead">Joey likes turtles.</p>
       </div>
        <div class="col-md-2">
          <img class="img-circle" src="{% static "images/sorry/3.png" %}" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>

      <hr class="featurette-divider">

    <div class="row-featurette">
        <div style="padding-left: 60px;" class="col-md-10 col-md-push-1">
          <h2 class="featurette-heading">Clint Simpson <span class="text-muted">"Goon Juice"</span></h2>
          <p class="lead">Goon Juice was widely accepted as the "Greatest Eagle Scout That Ever Lived".  His proficiency and innovation to the art of knot-tying earned him the position of "Top Eagle of America".
              However, in 2013, Goon Juice was Eagle-martialed under charges of "embezzlement of Eagle-Popcorn" and was dis-Eagle-ly Eagle-discharged.  Flying high.</p>
        </div>
        <div class="col-md-1 col-md-pull-10">
          <img class="img-circle" src="{% static "images/sorry/1.png" %}" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>

      <hr class="featurette-divider">

    <div class="row-featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Justin Michael Curewitz <span class="text-muted">"Run JMC"</span></h2>
          <p class="lead">Run JMC never thought he would be an Engineer.  After his debut single "Boots and Cats" reached Platinum-certification, Run JMC expected the celebrity life of
          a rockstar.  Alas, he proved to be a "one hit wonder", and his next album "Boots and Cast 2" barely sold 10 copies worldwide.  After failed endeavors at vodka crafting and
              Russian ballet, he turned his artistic talents to engineering. Everything is Boots and Cats.</p>
        </div>
        <div class="col-md-2">
          <img class="img-circle" src="{% static "images/sorry/4.png" %}" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

  </body>
{%  endblock content %}
