<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">




    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->

    <link rel="stylesheet" type="text/css" href="{% static "fonts/leaguegothic/stylesheet.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "fonts/roboto/stylesheet.css" %}"/>
    <link href="{% static "bootstrap/css/base.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon1.png" %}"/>

    {% block top %}
    {% endblock %}

  </head>

<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/"><img src="{% static "images/logo1.png" %}" alt="ATX Live" width="105" height="48"></a></li>
                <li><a href="{%  url 'about' %}"><h4><font size="5">About</font></h4></a></li>
                <li><a href="{%  url 'eventslist' %}"><h4><font size="5">View events</font></h4></a></li>
                <li><a href="{%  url 'event-new' %}"><h4><font size="5">Post events</font></h4></a></li>
                <li><a href="{%  url 'chatroom' %}"><h4><font size="5">Chatroom</font></h4></a></li>
              </ul>
                {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li id="username">Welcome, <b>{{ request.user.username }}</b>!</li>
                        <li id="logout"><a href ="{% url 'logout' %}"><h4><font size="4"><font face="Roboto Thin">Sign Out</font></font></h4></a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li id ="login"><a href="{%  url 'login' %}"><h4><font size="5"><font face="Roboto Thin">Click here to login!</font></font></h4></a></li>
                    </ul>
                {% endif %}
            </div>
          </div>
        </nav>

      </div>
    </div>
</body>

    {% block content %}

    {% endblock %}

    {% block footer %}
      <!-- FOOTER -->

    {%  endblock %}



    <!-- Bootstrap core JavaScript
    ================================================== -->
 <body>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static "bootstrap/docs/assets/js/vendor/holder.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
    {% block bottom %}{% endblock %}
  </body>
</html>
