{% extends "recommendation/base.html" %}
{% load static from staticfiles %}
{% block top %}
{# <link href="{% static "bootstrap/css/register_form.css" %}" rel="stylesheet"> #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Create Event</title>
{% endblock %}

{% block content %}
  <body class="background-image" background="{%  static "images/colors1.png" %}">
    <div class="container" style="background-color: rgba(255, 255, 255, 0.7); margin-top: 125px; width: 50vw; border-radius: 15px; padding-bottom: 20px">
        <div class="form">
            {% if request.user.is_authenticated %}
            <form id="AddEventForm" method="post" action="/add/">
                {% csrf_token %}
                <h2 align=center>Create your own event</h2>
                <div class="form-group">
                    <label for="id_title">Event Title:</label>
                    <input id="id_title" class="form-control" maxlength="255" name="title" type="text" placeholder="Enter a title for your event" autocomplete="off"> 
                </div>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" class="form-control" id="id_date" name="date" placeholder="MM/DD/YYYY">
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="id_description" name="description" placeholder="Enter a description for your event" autocomlete="off" maxlength="1000">
                    <!--<input type="text" class="form-control" id="id_description" name="description" placeholder="Enter a description for your event" autocomlete="off">-->
                </div>
                <div class="form-group">
                    <label for="startTime">Start Time:</label>
                    <input type="time" class="form-control" id="id_startTime" name="startTime" > 
                </div>
                <div class="form-group">
                    <label for="duration_in_minutes">Duration:</label>
                    <input id="id_duration_in_minutes" name="duration_in_minutes" type="number" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="id_email" name="email" placeholder="Enter the host's email">
                </div>
                <div class="form-group">
                    <label for="approxPrice">Approximate Price:</label>
                    <select id="id_approximatePrice" name="approximatePrice">
                        <option value="$">Cheap</option>
                        <option value="$$">Affordable</option>
                        <option value="$$$">Expensive</option>
                    </select> 
                </div>
                <div class="form-group">
                    <label for="location">Location:</label>
                    <input type="text" class="form-control" id="id_location" name="location" placeholder="Enter event location">
                </div>
                <div class="form-group">
                    <label for="date">Event Type:</label>
                    <select id="id_event_type" name="event_type">
                        <option value="SOC">Social</option>
                        <option value="ACA">Academic</option>
                        <option value="PRO">Professional</option>
                    </select> 
                </div>

                <div class="buttonwrapper" align=center>
                    <input type="submit" name="submit" value="Create Event" style="width:260px" class="btn btn-default" align=center>
                </div>
            </form>
            {% else %}
            <div class="fieldwrapper" align=center style="padding-top: 20px;">
                <h4 align=center>Please <a href="{%  url 'login' %}">log in</a> to create an event.</h4>
            </div>
            {% endif %}
        </div>
    </div> 
  </body>

{% endblock %}

{% block footer %}
{% endblock %}
