{%  extends "recommendation/base.html" %}

{% load static from staticfiles %}
{% block top %}
<link href="{% static "bootstrap/css/landing_page.css" %}" rel="stylesheet">
<link href="{% static "bootstrap/css/event_base.css" %}" rel="stylesheet">
<title>Events List</title>
{% endblock %}

{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{% static "images/citylights2.jpg" %}" alt="Find Events!">
          <div class="container">
            <div class="carousel-caption">
                <h1>{{ event.title }}</h1>
              <!--h1>Welcome to ATX Live!</h1>-->
              <p> {{ event.description }}</p>

            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->


    <!-- Event Listing
    ================================================== -->

    <div class="container1">
        <p>Date: {{ event.date }}
        <br><br> Time: {{ event.startTime }}
        <br><br> Location: {{ event.location }}
        <br><br> Event creator: {{event.full_name}} </p>
        <div class="action-box">
            <p>Actions</p>
            <div class="buttonwrapper">
            <form id="RSVPForm" method="post" action="{{event.page}}">
                {% csrf_token %}
                <!--<input type="text" value="{{event.title}}", id="title"><br>-->
                <div class="form-group">
                    <input id="id_username" class="form-control" maxlength="255" name="username" type="text">
                </div>
                <input type="submit" value="RSVP" style="width:260px" />
            </form>
            <div class="buttonwrapper">
            <form action="/chatroom/events/{{ chatlink }}/">
                <input type="submit" value="Enter chatroom" style="width:260px" />
            </form>
            <div class="buttonwrapper">
            <form action="{% url 'register' %}">
                <input type="submit" value="Edit event" style="width:260px" />
            </form>
        </div>
        </div>
      </div>
    </div>
    </div>

{% endblock %}


