{%  extends "recommendation/base.html" %}
{% load static from staticfiles %}
{% block top %}
<link href="{% static "bootstrap/css/event_list.css" %}" rel="stylesheet">
<title>Events List</title>
{% endblock %}

{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{% static "images/citylights2.jpg" %}" alt="Find Events!">
          <div class="container">
            <div class="carousel-caption">
                <h1>Upcoming events in Austin, TX</h1>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    <!-- Filters
    ==================================================
    <div class="filters">
        <form id="filter" action="/filter/" method="post">
            <select class="event-type">
                <option value="any">Any</option>
                <option value="social">Social</option>
                <option value="academic">Academic</option>
                <option value="professional">Professional</option>
            </select>

            <select class="price">
                <option value="any">Any</option>
                <option value="1">$</option>
                <option value="2">$$</option>
                <option value="3">$$$</option>
            </select>
            <input class="submit-button" type="submit" value="Apply">
        </form>
    </div>

    <div class="searches">
        <form id="search" action="/search/" method="post">
            <input type="text" name="search_term">
            <input class="submit-button" type="submit" value="Search">
        </form>
    </div>


-->
    <!-- Event Listing
    ================================================== -->

    <div class="container">
	<div class="row">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list" style="margin-top:30px; width:auto; text-align:center;">
          {% for event in events_list %}
            <li>
              <time datetime= {{ event.date }}>
              <span class="day"> {{  event.date.day }}</span>
              <span class="month"> {{ event.date.month }}</span>
              <span class="year"> event.date.year </span>
              <span class="duration">{{ event.duration_in_minutes }}</span>
            </time>

            <div class="info">
              <h2 class="title">{{event.title}}</h2>
              <p class="desc">{{event.description}}</p>
                <p class="loc">{{ event.location }}</p>
                <p class="time">Starts at {{ event.startTime }}</p>
                <ul>
                <li style="width:50%;"><a href="/{{event.page}}"><span class="fa fa-arrow-right"></span> Event page</a></li>
                <li style="width:50%;">Event type: {{ event.get_event_type_display }} | Price: {{ event.approximatePrice }}</li>
              </ul>
            </div>

            </li>
          {% endfor %}




        </ul>
      </div>
    </div>
	</div>
{% endblock %}


