{% extends "recommendation/base.html" %}
{% load static from staticfiles %}

{% block top %}<link href="{% static "bootstrap/css/landing_page.css" %}" rel="stylesheet">
<title>ATX Live Homepage</title>
{% endblock %}

{% block content %}
    <body>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{% static "images/citylights.jpg" %}" alt="Find Events!">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to ATX Live!</h1>
              <p>Your one-stop website to find parties, concerts, and other events with fellow Austinites. If you're looking for something to do in beautiful Austin, TX, you've come to the right place!</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'about' %}" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="{% static "images/party.png" %}" alt="Create an Account!">
          <div class="container">
            <div class="carousel-caption">
                {% if request.user.is_authenticated %}
                    <h1>Welcome back, {{ request.user.first_name }}!</h1>
                    <p>Be sure to hit up the events listing to find all the most recent events since your last visit.</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'eventslist' %}" role="button">View events</a></p>
                {% else %}
                    <h1>Don't have an account? Create one for free!</h1>
                    <p>Create an ATX Live account to access event signups, the chatroom, and more! Not only will you be able to RSVP, but we will recommend events in your area curtailed to your tastes.</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Create an account</a></p>
                {% endif %}

            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{% static "images/concert.jpg" %}" alt="Post Your Events!">
          <div class="container">
            <div class="carousel-caption">
              <h1>Are you hosting an upcoming event?</h1>
              <p>Create an event on ATX Live to reach thousands of fun-seeking Austinites! Instantly find attendees to your band's gig, video game tournament, or anything else.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Post your Event</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Event Listing
    ================================================== -->

    <header>
        <h1 align="center">Upcoming Events in Austin, TX</h1>
    </header>
    <div class="container">
	<div class="row">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list" style="margin-top:30px; width:auto; text-align:center;">
          {% for event in events_list %}
            <li>
              <time datetime= {{ event.date }}>
              <span class="day"> {{  event.date.day }}</span>
              <span class="month"> {{ event.date.month }}</span>
              <span class="year"> event.date.year </span>
              <span class="duration">{{ event.duration_in_minutes }}</span>
            </time>

            <div class="info">
              <h2 class="title">{{event.title}}</h2>
              <p class="desc">{{event.description}}</p>
                <p class="loc">{{ event.location }}</p>
                <p class="time">Starts at {{ event.startTime }}</p>
                <ul>
                <li style="width:50%;"><a href={{event.page}}><span class="fa fa-arrow-right"></span> Event page</a></li>
                <li style="width:50%;">Event type: {{ event.get_event_type_display }} | Price: {{ event.approximatePrice }}</li>
              </ul>
            </div>

            </li>
          {% endfor %}




        </ul>
      </div>
    </div>
	</div>
  </body>
{%  endblock %}

