{% extends "recommendation/base.html" %}
{% load static from staticfiles %}
{% block top %}
    <link href="{% static "bootstrap/css/login_page.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/register_form.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}

   <!-- Login form
================================================== -->

  <body class="background-image" background="{%  static "images/hamilton1.jpg" %}">
    <div class="container" style="background-color: rgba(255, 255, 255, 0.7); margin-top: 125px; width: 50vw; border-radius: 15px; padding-bottom: 20px">
            <form class="LoginForm" method="POST" action="/login/">
                {% csrf_token %}
                <h2 align=center>Sign in to your ATX Live account</h2>
                <div class="form-group">
                    <label for="username" style="text-align: right; clear: both; float:left; margin-right:15px;">Username:</label>
                    <input id="id_username" class="form-control" maxlength="255" name="username" type="text"> 
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="id_password" name="password">
                </div>
                <div class="form-group" align=center>
                 <p><input type="checkbox" value="remember-me-too"> Remember me!</p>
                 </div>
                <div align=center style="margin-top: 20px; margin-bottom: 10px;">
                    <input type="submit" name="submit" value="Sign in!" style="width:260px" class="btn btn-default" align=center>
                </div>
            </form>

            <form action="{% url 'register' %}">
              <div align=center>
                <input type="submit" value="Don't have an account? Sign up!" style="width:260px" class="btn btn-default" align=center />
              </div>
            </form>

        </div>
    </div>  
  </body>
{%  endblock %}
{% block footer %}
{% endblock %}
