{% extends "recommendation/base.html" %}
{% load static from staticfiles %}
{% block top %}
    <link href="{% static "bootstrap/css/logout_page.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/register_form.css" %}" rel="stylesheet">
    <meta http-equiv="refresh" content="3;url={% url 'index' %}" />
    <title>Logging Out</title>
{% endblock %}
{% block content %}
    <body class="background-image" background="{%  static "images/hamilton1.jpg" %}">
      <div class="container" style="background-color: rgba(255, 255, 255, 0.7); margin-top: 25vh; width: 50vw; border-radius: 15px; padding-bottom: 20px">
        <h3 align=center style="margin-top: 20px">You have been signed out of ATX Live!</p>
        <br>
        <br>
        <br>
        <br>
        <p class="lead" align=ceter>You will automatically be redirected in a few seconds.</p>
      </div>
      <meta HTTP-EQUIV="refresh" CONTENT="3; URL={% url 'index' %}">
    </body>
{% endblock %}