<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{%  url 'index' %}"><img src="{% static "images/logo1.png" %}" alt="ATX Live" width="105" height="48"></a></li>
                <li><a href="{%  url 'about' %}"><h4><font size="5">About</font></h4></a></li>
                <li><a href="{%  url 'eventslist' %}"><h4><font size="5">View events</font></h4></a></li>
                <li><a href="#contact"><h4><font size="5">Post events</font></h4></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4><font size="5">More <span class="caret"></span></font></h4></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>

              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li id ="login"><a href="{%  url 'login_view' %}"><h4><font size="5"><font face="Roboto Thin">Click here to login!</font></font></h4></a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
  </body>
</html>
