{% extends "recommendation/base.html" %}
{% load static from staticfiles %}
{% block top %}
    <link href="{% static "bootstrap/css/register_form.css" %}" rel="stylesheet">
    <title>Create an ATX Live Account</title>
{% endblock %}

{% block content %}
  <body class="background-image" background="{%  static "images/sxsw1.jpg" %}">
     <div class="container" style="background-color: rgba(255, 255, 255, 0.7); margin-top: 125px; width: 50vw; border-radius: 15px; padding-bottom: 20px">
        <form id="LoginForm" method="post" action="/register/">
        {% csrf_token %}
        <h2 align=center>Create an account</h2>
        <br>
        <div class="form-group">
            <label for="username" style="text-align: right; clear: both;">Username:</label>
            <input id="id_username" class="form-control" maxlength="255" name="username" type="text"> 
        </div>
        <div class="form-group">
            <label for="password" style="text-align: right; clear: both;">Password:</label>
            <input id="id_password" class="form-control" maxlength="255" name="password" type="password"> 
        </div>
        <div class="form-group">
            <label for="first_name" style="text-align: right; clear: both;">First name:</label>
            <input id="id_first_name" class="form-control" maxlength="255" name="first_name" type="text">
        </div>
       <div class="form-group">
            <label for="last_name" style="text-align: right; clear: both;">Last name:</label>
            <input id="id_last_name" class="form-control" maxlength="255" name="last_name" type="text">
        </div>
        <div class="form-group">
            <label for="email" style="text-align: right; clear: both;">Email:</label>
            <input id="id_email" class="form-control" maxlength="255" name="email" type="email"> 
        </div>
        <br>
        <div align=center style="margin-top: 20px; margin-bottom: 10px;">
            <input type="submit" name="submit" value="Register" style="width:260px" class="btn btn-default" align=center >
        </div>
        </form>
      </div>
  </body>
{% endblock %}

{% block footer %}
{% endblock %}
