<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "bootstrap/docs/favicon.ico" %}" type="image/x-icon"> <!-- this doesnt work :( -->

    <title>ATX Live Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap/css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/leaguegothic/stylesheet.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "fonts/roboto/stylesheet.css" %}"/>
  </head>

<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{%  url 'index' %}"><img src="{% static "images/logo1.png" %}" alt="ATX Live" width="105" height="48"></a></li>
                <li><a href="{%  url 'about' %}"><h4><font size="5">About</font></h4></a></li>
                <li><a href="{%  url 'eventslist' %}"><h4><font size="5">View events</font></h4></a></li>
                <li><a href="#contact"><h4><font size="5">Post events</font></h4></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4><font size="5">More <span class="caret"></span></font></h4></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>

              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li id ="login"><a href="{%  url 'login' %}"><h4><font size="5"><font face="Roboto Thin">Click here to login!</font></font></h4></a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <!-- Event Listing
    ================================================== -->

    <div class="container">
	    <div class="row">
            <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                <ul class="event-list" style="margin-top:30px; width:800px; text-align:center;">
                    <li>
                        <h1> Hello World. </h1>
                    </li>
                    <li>
                        <p> Sample text. </p>
                    </li>
                    <li>
                        <p> More sample text. </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; 2016 BoyzInTheHood, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static "bootstrap/docs/assets/js/vendor/holder.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
